

/*共通部分*/
.section {
    padding: 70px 0;
}

.common-inner {
    width: 100%;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 50px;
    font-size: 2.4rem;
    line-height: 1.0;
    text-align: center;
}

/*メディクリ*/




/*ヘッダー*/
.page-header {
    background-color: #8d0000;
}
/*
.cp_navi {
	background-color: #000000;
	order: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: white;
	display: block;
	margin: ;
	overflow: hidden;
	width: 100%;
}
.cp_navi ul {
	margin: 0;
	padding: 0;
}
.cp_navi ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
	border-top: 4px solid white;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
	color: white;
	display: block;
	line-height: 56px;
    margin: 0 10px;
	padding: 0 10px;
	text-decoration: none;
}
.cp_navi > ul > li:hover {
	background-color: rgb(66, 66, 66);
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
	background-color: rgb(70, 70, 70);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div ul > li {
	display: block;
}
.cp_navi > ul > li > div ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

*/

/*プログラミンプロジェクトのやつ*/
#section-intro {
    background-color: #8d0000;
}

.section__title1 {
    margin-bottom: 50px;
    font-size: 2.4rem;
    line-height: 1.0;
    text-align: center;
    color: white;
}


.section__text {
    text-align: center;
    color: white;
    line-height: 1.8;
}


/*最新情報*/
#section-info {
    width: 100%;
}

.section__title2 {
    margin-bottom: 50px;
    font-size: 2.4rem;
    line-height: 1.0;
    text-align: center;
}

.news-list {
    width: auto;
    list-style: none;
}

.news-list:not(:last-child) {
    margin: 0 auto 50px;
}

.news-list__item a {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 1.5;
    color: black;
    text-decoration: none;
}

.news-list__item a:hover {
    text-decoration: underline;
}

.news-list__item a span {
    width: 400px;
}

.news-page-link {
    text-align: center;
}

.news-page-link a {
    text-decoration: none;
    font-size: 1.5rem;
    color: brown;
}

.news-page-link a:hover {
    text-decoration: underline;
}


/*フッター*/
.page-footer {
    padding: 25px 0;
    background-color: #8d0000;
}

.page-footer__copyrigth {
    text-align: center;
    color: white;
}

/*メインコンテンツ*/
#sample {
    background: url(../img/section-main__back.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.common-inner-main {
    width: auto;
    height: auto;
    margin:  50px 100px;
    padding: 50px 0;
    box-sizing: border-box;
}

.common-inner__content {
    display: flex;
    background-color: #fffff3;
}

.common-inner__img {
    width: 50%;
}

.common-inner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.common-inner__wrapper {
    width: 50%;
    padding: 50px 30px;
    box-sizing: border-box;
    text-align: center;
}

.common-inner__title {
    margin-bottom: 10px;
    font-size: 2.2rem;
    line-height: 1.8;
}

.common-inner__text {
    font-size: 1.0rem;
    line-height: 1.5;
}

.common-inner__item {
    list-style: none;
    padding-top: 20px;
}

.common-inner__item a {
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgb(16, 97, 129);
    text-decoration: none;
}

.common-inner__item a:hover {
    text-decoration: underline;
}